
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}
*{
    font-family: Outfit;
}
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
::-webkit-scrollbar{
  display: none;
}
/* Your custom button utility */
@layer utilities {
  .cosmic-button {
    @apply px-6 py-2 rounded-full bg-primary text-primary-foreground font-medium 
           transition-all duration-300 
           hover:bg-primary/90 hover:shadow-[0_0_12px_rgba(255,182,193,0.6)]
           hover:scale-105 active:scale-95;
  }
}
@layer utilities {
  .clip-hero-shape {
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
  }
}



@media(max-width:640px){
  a.active{
  background-color: #a97b9c;
  border: none;
  color: white;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
   
    
  }
  a.active:hover {opacity: 1}

}

